<div id="dialogContainer">
    <h1>Modifier une station</h1>
    <img src="../../assets/img/bike.png" alt="bike_img">
    <ul>
        <li>
            <span>Nom de la station :</span>
            <input type="text" #nomStation [(ngModel)]="data.stationName">
        </li>
        <li>
            <span>Nombre de vélos :</span>
            <input type="text" #nombreVelos [(ngModel)]="data.nbrBikes">
        </li>
        <li>
            <span>Nombre d'attaches :</span>
            <input type="text" #nombreAttaches [(ngModel)]="data.nbrAttachment">
        </li>
    </ul>

    <button (click)="updateStation(nomStation.value, nombreVelos.value, nombreAttaches.value)">Mettre à jour</button>
</div>